[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively

[submodule "openalea.rtfd.io"]
	path = public/other/openalea.rtfd.io
	url = https://openalea.rtfd.io

[submodule "openalea.rtfd.io static"]
	path = static/other/openalea.rtfd.io
	url = https://openalea.rtfd.io
